html { 
  background: url('../images/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
	background: none;
	color: #392b37;
	color: #de4645;
}
h1 {
	font-size: 1.5rem;
	font-weight: 600;
	color: #9eb0c7;
	letter-spacing: .1rem;
}
a {
	color: #2ab6b0;
}
a:hover {
	color: #25A09B;
}
form {
	margin: 0;
}
.inline {
	display: inline;
}
.small {
	font-size: 1.2rem;
}
#todoapp {
	max-width: 320px;
	background: rgba(255,255,255,0.65);
	border: 1px solid #f5f5f5;
	padding: 10px 0;
	border-radius: 4px;
}
#todo-sort {
	width: 100%;
	margin: 0;
	-webkit-box-shadow: 0 2px 6px -4px black;
	-moz-box-shadow: 0 2px 6px -4px black;
	box-shadow: 0 2px 6px -4px black;
}
#todo-filters {
	list-style-type: none;
	margin: 10px auto 0;
}
#todo-filters>li {
	float: left;
	margin-right: 10px;
}
#todo-filters>li>a {
	color: #bdbdc4;
	text-decoration: none;
}
#todo-filters>li>a.selected {
	color: #929299;
}
#todo-count {
	text-align: center;
	margin: 0 10px;
}
#todo-content input[type="checkbox"] {
	position: absolute;
	top: 4px;
	left: 0;
}
.view {
	position: relative;
}
#todo-content label {
	margin: 0 15px 0 25px;
}
.todo-content-footer {
	padding: 0 10px;
	-webkit-box-shadow: 0 -2px 5px -4px black;
	-moz-box-shadow: 0 -2px 5px -4px black;
	box-shadow: 0 -2px 5px -4px black;
}
#todo-list {
	list-style-type: none;
	margin: 0;
	padding: 0 10px;
	max-height: 300px;
	overflow: scroll;
}
#todo-list>li {
	margin: 0 0 5px 0;
	border-bottom: 1px solid #F5F5F5;
}
#todo-list input.edit {
	display: none;
}
#todo-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	color: #bdbdc4;
	text-decoration: none;
}
#todo-list li .destroy:after {
	content: '✖';
}
#todo-list li:hover .destroy {
	display: block;
}
#todo-form {
	margin-top: 10px;
}
#clear-completed {
	color: #bdbdc4;
}
